# @todo #1:16m/ARCH i don't understand howto vendor worked? and why i need glide\govendor instead of simple go get?
vendor
src/github.com
*.log
pkg/
.vagrant/
.idea/
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
